{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [">1%", "last 4 versions", "Firefox ESR", "not ie < 9"],
                    "forceAllTransforms": true
                },
                "useBuiltIns": false
            }
        ],
        "@babel/preset-stage-2",
        "@babel/preset-react"
    ],
    "ignore": ["node_modules"]
}