{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": false
            }
        ],
        "@babel/preset-stage-2",
        "@babel/preset-react"
    ],
    "ignore": ["node_modules"]
}